{% extends 'app_general/components/base.html' %}

{% block site_title %}change password done - {% endblock %}

{% block content %}
    <section class="content-section content-section-single">
        <div class="content-container content-container-narrow">
            <h3 class="content-title">Hello {{ user.username }}</h3>
            <p>
                <a href="{% url 'dashboard' %}">dashboard</a>
                <a href="{% url 'profile' %}">profile</a>
                <a href="{% url 'password_change' %}">change password</a>
            </p>
            <h4>password had changed</h4>
        </div>
    </section>
{% endblock %}