{% extends 'app_general/components/base.html' %}

{% block site_title %}reset password done | {%  endblock %}

{% block content %}
    <section class="content-section content-section-single">
    <div class="content-section content-section-single">
        <h2>already sent reset password email</h2>
        <p>please check your email</p>
        <p>if you don't receive email, please try again</p>
        <p>
            <a class="button button-primary" href="{% url 'login' %}">log in</a>
        </p>
    </div>
    </section>
{% endblock %}
