{% extends 'app_general/components/base.html' %}

{% block site_title %}reset password | {% endblock %}

{% block content %}
    <section class="content-section content-section-single">
        <div class="content-section content-section-single">
            {% if validlink %}
                <h3 class="content-title">reset password</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p>
                        <button class="button button-primary" type="submit">submit</button>
                    </p>
                </form>
            {% else %}
                <h3 class="content-title">invalid link</h3>
            {% endif %}
        </div>
    </section>
{% endblock %}
