{% extends 'app_general/components/base.html' %}

{% block site_title %}change password - {% endblock %}

{% block content %}
    <section class="content-section content-section-single">
        <div class="content-container content-container-narrow">
            <h3 class="content-title">Hello {{ user.username }}</h3>
            <p>
                <a href="{% url 'dashboard' %}">dashboard</a>
                <a href="{% url 'profile' %}">profile</a>
                <a href="{% url 'password_change' %}">change password</a>
            </p>
            <h4>change password</h4>
            <form action="{% url 'password_change' %}" method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_p }}
                {{ extended_form.as_p }}
                <div class="form-field">
                    <button class="button button-primary" type="submit">submit</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}