{% extends 'app_general/components/base.html' %}

{% block site_title %}forgot password | {%  endblock %}

{% block content %}
    <section class="content-section content-section-single">
    <div class="content-section content-section-single">
        <h2>forgot password?</h2>
        <form action="{% url 'password_reset' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-field">
                <button class="button button-primary" type="submit">submit email</button>
            </div>
        </form>
    </div>
    </section>
{% endblock %}
