{% extends 'app_general/components/base.html' %}

{% block site_title %}register | {%  endblock %}

{% block content %}
    <section class="content-section content-section-single">
        <div class="content-section content-section-narrow">
            <h2>register</h2>
            <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="form-field">
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="form-field">
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="form-field">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <div class="form-field">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
            <p>
                <button class="button button-primary" type="submit">login</button>
            </p>
        </form>
    </div>
    </section>
{% endblock %}
