{% load static %}
<header class="site-header">
    <div class="site-header-menu">
        <div class="site-header-item">
            <a class="site-header-brand" href="{% url 'home' %}">
                {% if request.COOKIES.theme == "dark" %}
                    <img src="{% static 'app_general/all_images/logo-dark.png' %}">
                {% else %}
                    <img src="{% static 'app_general/all_images/logo.png' %}">
                {% endif %}
                <span>ged's icecream</span>
            </a>
        </div>
        <div class="site-header-item">
            <a href="{% url 'foods' %}">
                <span>menu</span>
            </a>
        </div>
        <div class="site-header-item">
            <a href="{% url 'about' %}">
                <span>about</span>
            </a>
        </div>

        {% if user.is_authenticated %}
            <div class="site-header-item">
                <a href={% url 'dashboard' %}>
                    <span>{{ user.username }}</span>
                </a>
            </div>
            <div class="site-header-item">
                <a href="{% url 'logout' %}">
                    <span>log out</span>
                </a>
            </div>
        {% else %}
            <div class="site-header-item">
                <a href="{% url 'login' %}">
                    <span>log in</span>
                </a>
            </div>
            <div class="site-header-item">
                <a href="{% url 'register' %}">
                    <span>register</span>
                </a>
            </div>
        {% endif %}

        <div class="site-header-item">
            <a class="site-header-toggle-menu-button">
                <span>MENU</span>
            </a>
        </div>
    </div>
</header>